* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(76, 129, 243);
    min-height: 100vh;
}

p {
    font-size: max(18px, 1.8vw);
}

h1 {
    padding: max(20px, 2vw);
    font-size: max(40px, 3.6vw);
    color: white;
}

h2 {
    font-size: max(17px, 1.8vw);
}

main {
    display: flex;
    flex-wrap: wrap;
    gap: max(20px, 2vw);
    justify-content: center;
    margin-top: max(20px, 2vw);
    margin-bottom: max(20px, 2vw);
}

.pokemon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 23vw;
    height: 16vw;
    background-color: white;
    padding: max(10px, 1vw);
    border-radius: max(10px, 1vw);
}

.top-info {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.bottom-info {
    display: flex;
}

.bottom-info div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: max(10px, 1vw);
}

.bottom-info p {
    display: flex;
    font-size: max(15px, 1.5vw);
    align-items: center;
    justify-content: center;
    width: max(80px, 8vw);
    height: max(30px, 3vw);
    border: solid black max(1px, 0.15vw);
    border-radius: max(20px, 2vw);
}

.pokemon img {
    width: 60%;
}

nav {
    display: flex;
    align-items: center;
    gap: 4%;
}

#type {
    height: 2.75vw;
    width: 10vw;
    text-align: center;
    font-size: 1.75vw;
}

#search {
    height: 2.75vw;
    width: 20vw;
    font-size: 1.75vw;
}

.info {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    width: 70vw;
    height: 30vw;
    background-color: white;
    padding: max(10px, 1vw);
    border-radius: max(10px, 1vw);
    box-shadow: 0 0 0 9999px rgba(0, 0, 0, 0.5);
}

.info h2 {
    font-size: max(24px, 2.3vw)
}

.info-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 100%;
    border-right: solid black 2px;
}

.info-main-top {
    display: flex;
    justify-content: space-between;
    padding-right: 5%;
    width: 100%;
}

.info-main-bottom {
    display: flex;
}

.info-main-bottom div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: max(10px, 1vw);
}

.info-main-bottom p {
    display: flex;
    align-items: center;
    justify-content: center;
    width: max(102px, 10.2vw);
    height: max(36px, 3.6vw);
    border: solid black max(1px, 0.15vw);
    border-radius: max(20px, 2vw);
}

.info-main-bottom img {
    width: 80%;
}

.info-stats {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    width: 50%;
}

.info-stats p:first-of-type {
    margin-top: auto;
}

.info-stats p:last-of-type {
    margin-bottom: auto;
}

@media screen and (max-width: 480px){
    .pokemon {
        width: 45vw;
        height: 32vw;
    }

    #type {
        height: 8vw;
        width: 25vw;
        text-align: center;
        font-size: 4.5vw;
    }

    #search {
        height: 8vw;
        width: 50vw;
        font-size: 4.5vw;
    }

    .info {
        flex-direction: column;
        width: 80vw;
        height: 150vw;
    }

    .info-main {
        width: 100%;
        height: fit-content;
        padding-bottom: 5%;
        border-right: none;
        border-bottom: solid black 2px;
    }

    .info-stats {
        padding-top: 5%;
        width: 100%;
    }
}