:root {
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(76, 129, 243);
    min-height: 100vh;
}

h1 {
    padding: 3rem;
    font-size: min(12vw, 5rem);
    color: white;
}

h2 {
    font-size: 2.7em;
}

p {
    font-size: 2.7em;
}

main {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    justify-content: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.pokemon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: min(45%, 30rem);
    font-size: min(1.4vw, 0.8rem);
    background-color: white;
    padding: 1.5em;
    border-radius: 7%;
    gap: 1em;
}

.top-info {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.bottom-info {
    display: flex;
}

.bottom-info div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2em;
}

.bottom-info p {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 8ch;
    height: 3ch;
    border: solid black 0.1em;
    border-radius: 1em;
}

.pokemon img {
    width: 60%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4%;
    width: min(90%, 40rem);
    font-size: min(5vw, 2rem);
}

#type {
    height: 2em;
    width: 40%;
    text-align: center;
    font-size: 1em;
}

#search {
    height: 2em;
    width: 60%;
    font-size: 1em;
}

.info {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    width: 120em;
    background-color: white;
    padding: 1.5em;
    border-radius: 2.5em;
    box-shadow: 0 0 0 9999px rgba(0, 0, 0, 0.5);
    font-size: min(0.8vw, 0.8rem);
}

.info h2 {
    font-size: 3.8em;
}

.info-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    border-right: solid black 0.3em;
    align-self: stretch;
}

.info-main-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 5%;
    width: 100%;
}

.info-main-bottom {
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
}

.info-main-bottom div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5em;
}

.info-main-bottom p {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 8ch;
    height: 3ch;
    border: solid black 0.1em;
    border-radius: 1em;
}

.info-main-bottom img {
    width: 40em;
}

.info-stats {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 50%;
    align-self: stretch;
}

.info-stats p:first-of-type {
    margin-top: auto;
}   

.info-stats p:last-of-type {
    margin-bottom: auto;
}

@media screen and (max-width: 1000px) {
    .info {
        font-size: 0.8vw;
    }
}

@media screen and (max-width: 480px) {
    main {
        gap: 2rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    h1 {
        padding: 2rem;
    }

    .info {
        flex-direction: column;
        width: 80vw;
        font-size: 1.4vw;
    }

    .info-main {
        width: 100%;
        height: fit-content;
        padding-bottom: 5%;
        border-right: none;
        border-bottom: solid black 2px;
    }

    .info-stats {
        padding-block: 5%;
        width: 100%;
        height: fit-content;
    }

    .info-stats h2 {
        padding-bottom: 5%;
    }
}